.coaching{
    position: relative;
    left:50%;
    transform: translate(-50%);
    background-color:#fff;
    padding: 0 ;
    margin-top: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: 90%;
    z-index: 999;
    color: black;
    /* border: solid #fff 1px; */
    overflow: hidden;
}
.coaching .inline .sell_img img{
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    border-radius: 6px;

}
.sell_img{
    margin-right: 0.5rem;
}
.coaching .inline .reverse_inline{
    display: flex;
    flex-direction: column;
}
.sell_price{
    color: grey;
    font-size: 1rem;
}

button.checkout {
    position: relative;
    height: 2rem;
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;
    font-size:1.125rem ;
    border: none;
}

.produkt_beschreibung{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 2rem;
    height: 2rem;
    margin-top: auto;
    font-size: 1.125rem;
    font-weight: 700;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    z-index: 999;
}
.produkt_beschreibung p{
    transform: rotate(90deg);

}
.beschreibung{
    display: none;
    padding: 0 0.5rem 0.5rem;
}
